In [41]:
# 2022 New York SPARCS data on inpatient hospitalizations
# Trying to look at what proportion of a. fib patients underwent a. fib ablations
# Diagnosis data limited to hospitalizations, but likely proportional to the number of a. fib patients in a region
# Regions are categorized by Zip3

# SPARCS uses CCSR diagnostic and procedural codes instead of ICD-10
# So to estimate number of a. fib ablations, looked at EP studies (MAM009) + heart conduction mechanism procedures (CAR002)
# To estimate number of a. fib diagnoses, looked at cardiac dysrhythmias (CIR017)

# See Datawrapper for visualizations

In [2]:
import pandas as pd

In [3]:
df_ep_studies = pd.read_csv('SPARCS_ny_data_09_2024/ny_ep_studies_or_mapping_2022_SPARCS.csv')

In [4]:
df_ep_studies.head()

,Hospital Service Area,Hospital County,Operating Certificate Number,Permanent Facility Id,Facility Name,Age Group,Zip Code - 3 digits,Gender,Race,Ethnicity,...,APR Severity of Illness Description,APR Risk of Mortality,APR Medical Surgical Description,Payment Typology 1,Payment Typology 2,Payment Typology 3,Birth Weight,Emergency Department Indicator,Total Charges,Total Costs
0,New York City,Manhattan,7002054,1464,New York-Presbyterian Hospital - Columbia Pres...,50 to 69,100,M,Other Race,Unknown,...,Minor,Minor,Surgical,Private Health Insurance,NaN,NaN,NaN,N,"142,502.44","50,056.49"
1,New York City,Manhattan,7002024,1456,Mount Sinai Hospital,70 or Older,100,M,White,Not Span/Hispanic,...,Major,Major,Surgical,Blue Cross/Blue Shield,Medicare,Self-Pay,NaN,Y,"190,499.29","51,010.79"
2,New York City,Manhattan,7002054,1458,New York-Presbyterian Hospital - New York Weil...,30 to 49,112,F,Other Race,Not Span/Hispanic,...,Moderate,Minor,Surgical,Private Health Insurance,NaN,NaN,NaN,N,"123,883.28","47,459.35"
3,New York City,Manhattan,7002054,1458,New York-Presbyterian Hospital - New York Weil...,50 to 69,100,M,Black/African American,Not Span/Hispanic,...,Major,Major,Surgical,Medicaid,NaN,NaN,NaN,Y,"275,513.44","124,070.61"
4,New York City,Manhattan,7002054,1458,New York-Presbyterian Hospital - New York Weil...,50 to 69,116,M,Other Race,Unknown,...,Minor,Moderate,Surgical,Private Health Insurance,NaN,NaN,NaN,Y,"141,826.58","55,508.77"

In [5]:
list(df_ep_studies)

['Hospital Service Area',
 'Hospital County',
 'Operating Certificate Number',
 'Permanent Facility Id',
 'Facility Name',
 'Age Group',
 'Zip Code - 3 digits',
 'Gender',
 'Race',
 'Ethnicity',
 'Length of Stay',
 'Type of Admission',
 'Patient Disposition',
 'Discharge Year',
 'CCSR Diagnosis Code',
 'CCSR Diagnosis Description',
 'CCSR Procedure Code',
 'CCSR Procedure Description',
 'APR DRG Code',
 'APR DRG Description',
 'APR MDC Code',
 'APR MDC Description',
 'APR Severity of Illness Code',
 'APR Severity of Illness Description',
 'APR Risk of Mortality',
 'APR Medical Surgical Description',
 'Payment Typology 1',
 'Payment Typology 2',
 'Payment Typology 3',
 'Birth Weight',
 'Emergency Department Indicator',
 'Total Charges',
 'Total Costs']

In [6]:
df_afib = pd.read_csv('SPARCS_ny_data_09_2024/ny_cardiac_dysrhythmias_2022_SPARCS.csv')

In [7]:
df_afib.head()

,Hospital Service Area,Hospital County,Operating Certificate Number,Permanent Facility Id,Facility Name,Age Group,Zip Code - 3 digits,Gender,Race,Ethnicity,...,APR Severity of Illness Description,APR Risk of Mortality,APR Medical Surgical Description,Payment Typology 1,Payment Typology 2,Payment Typology 3,Birth Weight,Emergency Department Indicator,Total Charges,Total Costs
0,Hudson Valley,Rockland,4324000.0,776.0,Montefiore Nyack,50 to 69,109,F,White,Not Span/Hispanic,...,Minor,Minor,Medical,Private Health Insurance,NaN,NaN,NaN,Y,"12,442.22","2,491.91"
1,New York City,Manhattan,7002054.0,1464.0,New York-Presbyterian Hospital - Columbia Pres...,30 to 49,113,M,White,Not Span/Hispanic,...,Moderate,Moderate,Medical,Private Health Insurance,NaN,NaN,NaN,Y,"22,474.94","4,916.18"
2,New York City,Manhattan,7002054.0,1464.0,New York-Presbyterian Hospital - Columbia Pres...,70 or Older,100,F,Other Race,Unknown,...,Minor,Minor,Medical,Medicare,NaN,NaN,NaN,Y,"43,752.71","14,711.86"
3,New York City,Manhattan,7002054.0,1464.0,New York-Presbyterian Hospital - Columbia Pres...,50 to 69,117,M,White,Not Span/Hispanic,...,Major,Major,Medical,Private Health Insurance,NaN,NaN,NaN,N,"31,948.25","13,644.41"
4,New York City,Manhattan,7002054.0,1464.0,New York-Presbyterian Hospital - Columbia Pres...,50 to 69,100,M,Other Race,Unknown,...,Minor,Minor,Surgical,Private Health Insurance,NaN,NaN,NaN,N,"142,502.44","50,056.49"

In [8]:
# Cleaning up EP study data

In [9]:
df = df_ep_studies[['Zip Code - 3 digits']]

In [10]:
df.head()

  Zip Code - 3 digits
0                 100
1                 100
2                 112
3                 100
4                 116

In [11]:
df = df.value_counts().reset_index(name='counts')

In [12]:
df.shape

(49, 2)

In [13]:
df.head()

  Zip Code - 3 digits  counts
0                 117     718
1                 112     500
2                 100     391
3                 113     314
4                 115     289

In [14]:
df = df[df['Zip Code - 3 digits'] != 'OOS']

In [15]:
df.head()

  Zip Code - 3 digits  counts
0                 117     718
1                 112     500
2                 100     391
3                 113     314
4                 115     289

In [16]:
df.shape

(48, 2)

In [17]:
df['Zip Code - 3 digits'] = pd.to_numeric(df['Zip Code - 3 digits'])

In [18]:
df.head()

   Zip Code - 3 digits  counts
0                  117     718
1                  112     500
2                  100     391
3                  113     314
4                  115     289

In [19]:
df.to_csv('SPARCS_ny_data_09_2024/ep_studies_zip_only.csv', index=False)

In [20]:
# Cleaning up A. fib data

In [21]:
df2 = df_afib[['Zip Code - 3 digits']]

In [22]:
df2.head()

  Zip Code - 3 digits
0                 109
1                 113
2                 100
3                 117
4                 100

In [23]:
df2 = df2.value_counts().reset_index(name='counts')

In [24]:
df2 = df2[df2['Zip Code - 3 digits'] != 'OOS']

In [25]:
df2['Zip Code - 3 digits'] = pd.to_numeric(df2['Zip Code - 3 digits'])

In [26]:
df2.shape

(49, 2)

In [27]:
df2.head()

   Zip Code - 3 digits  counts
0                  117    3574
1                  112    2939
2                  100    2118
3                  104    2108
4                  113    1518

In [28]:
df2.to_csv('SPARCS_ny_data_09_2024/afib_zip_only.csv', index=False)

In [29]:
# Joining the two dataframes to calculate proportion of EP studies + mappings to a. fib diagnoses per Zip3

In [30]:
df.rename(columns={'counts':'ep_study_counts'}, inplace=True)

In [31]:
df2.rename(columns={'counts':'afib_counts'}, inplace=True)

In [32]:
df_percentage = pd.merge(df, df2, on='Zip Code - 3 digits', how='outer')

In [33]:
df_percentage.head()

   Zip Code - 3 digits  ep_study_counts  afib_counts
0                  117            718.0         3574
1                  112            500.0         2939
2                  100            391.0         2118
3                  113            314.0         1518
4                  115            289.0         1466

In [34]:
df_percentage['ep_study_counts'] = df_percentage['ep_study_counts'].fillna(0)

In [35]:
df_percentage.head()

   Zip Code - 3 digits  ep_study_counts  afib_counts
0                  117            718.0         3574
1                  112            500.0         2939
2                  100            391.0         2118
3                  113            314.0         1518
4                  115            289.0         1466

In [36]:
df_percentage['proportion_ep_studies_to_afib'] = df_percentage['ep_study_counts'] / df_percentage['afib_counts']

In [39]:
df_percentage.head()

,Zip Code - 3 digits,ep_study_counts,afib_counts,proportion_ep_studies_to_afib
0,117,718.0,3574,0.200895
1,112,500.0,2939,0.170126
2,100,391.0,2118,0.184608
3,113,314.0,1518,0.206851
4,115,289.0,1466,0.197135

In [40]:
df_percentage.to_csv('SPARCS_ny_data_09_2024/ep_studies_and_afib_zip_only.csv', index=False)

In [51]:
df_percentage.sort_values(['proportion_ep_studies_to_afib'], ascending=False)

,Zip Code - 3 digits,ep_study_counts,afib_counts,proportion_ep_studies_to_afib
8,105,231.0,907,0.254686
21,108,31.0,136,0.227941
20,106,33.0,146,0.226027
5,103,286.0,1271,0.225020
10,110,107.0,492,0.217480
14,107,73.0,337,0.216617
3,113,314.0,1518,0.206851
23,118,29.0,142,0.204225
6,114,240.0,1187,0.202190
0,117,718.0,3574,0.200895
4,115,289.0,1466,0.197135
2,100,391.0,2118,0.184608
18,116,36.0,198,0.181818
33,101,17.0,94,0.180851
9,119,115.0,675,0.170370
1,112,500.0,2939,0.170126
17,111,38.0,255,0.149020
43,149,8.0,70,0.114286
7,104,237.0,2108,0.112429
11,109,84.0,806,0.104218
13,125,74.0,786,0.094148
39,126,13.0,140,0.092857
42,122,10.0,113,0.088496
24,132,28.0,327,0.085627
26,121,25.0,303,0.082508
19,141,34.0,454,0.074890
30,124,21.0,302,0.069536
12,142,75.0,1091,0.068744
35,137,15.0,235,0.063830
38,127,13.0,214,0.060748
29,148,22.0,363,0.060606
16,130,38.0,656,0.057927
27,144,24.0,417,0.057554
34,133,16.0,279,0.057348
28,120,23.0,404,0.056931
31,136,20.0,359,0.055710
41,123,11.0,199,0.055276
15,140,54.0,1017,0.053097
36,131,14.0,268,0.052239
44,143,7.0,137,0.051095
25,145,25.0,499,0.050100
22,146,31.0,627,0.049442
40,138,11.0,248,0.044355
32,128,18.0,406,0.044335
37,134,14.0,356,0.039326
45,147,7.0,257,0.027237
46,129,2.0,223,0.008969
47,135,1.0,115,0.008696
48,139,0.0,99,0.000000

In [ ]:
# Looking at the region with the highest absolute number of EP studies

In [46]:
df_long_island = df_ep_studies[df_ep_studies['Zip Code - 3 digits'] == '117']

In [47]:
df_long_island

,Hospital Service Area,Hospital County,Operating Certificate Number,Permanent Facility Id,Facility Name,Age Group,Zip Code - 3 digits,Gender,Race,Ethnicity,...,APR Severity of Illness Description,APR Risk of Mortality,APR Medical Surgical Description,Payment Typology 1,Payment Typology 2,Payment Typology 3,Birth Weight,Emergency Department Indicator,Total Charges,Total Costs
27,Long Island,Nassau,2950002,528,Nassau University Medical Center,50 to 69,117,M,White,Not Span/Hispanic,...,Moderate,Moderate,Medical,Medicaid,Medicaid,Self-Pay,NaN,N,"37,613.53","14,152.42"
32,Long Island,Nassau,2908000,511,NYU Langone Hospital-Long Island,70 or Older,117,M,White,Not Span/Hispanic,...,Moderate,Minor,Surgical,Medicare,Blue Cross/Blue Shield,Medicaid,NaN,N,"475,272.41","82,649.57"
64,Long Island,Nassau,2908000,511,NYU Langone Hospital-Long Island,70 or Older,117,M,White,Not Span/Hispanic,...,Extreme,Extreme,Surgical,Medicare,NaN,NaN,NaN,Y,"241,485.23","62,198.05"
86,Long Island,Nassau,2908000,511,NYU Langone Hospital-Long Island,70 or Older,117,M,White,Not Span/Hispanic,...,Major,Extreme,Surgical,Medicare,Medicare,NaN,NaN,Y,"347,697.83","54,234.36"
90,New York City,Manhattan,7002054,1458,New York-Presbyterian Hospital - New York Weil...,50 to 69,117,M,White,Not Span/Hispanic,...,Extreme,Extreme,Surgical,Medicare,Private Health Insurance,NaN,NaN,N,"159,593.90","61,966.13"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4648,Long Island,Nassau,2953000,563,St. Francis Hospital & Heart Center,70 or Older,117,F,White,Not Span/Hispanic,...,Extreme,Extreme,Surgical,Medicare,NaN,NaN,NaN,Y,"331,101.83","40,457.36"
4650,Long Island,Nassau,2953000,563,St. Francis Hospital & Heart Center,70 or Older,117,F,White,Not Span/Hispanic,...,Major,Major,Medical,Medicare,NaN,NaN,NaN,N,"109,483.06","11,383.74"
4657,Long Island,Nassau,2952006,551,St. Joseph Hospital,50 to 69,117,M,White,Not Span/Hispanic,...,Extreme,Major,Surgical,Medicare,NaN,NaN,NaN,Y,"124,876.41","32,767.25"
4666,Long Island,Suffolk,5154001,925,Good Samaritan Hospital Medical Center,50 to 69,117,F,White,Not Span/Hispanic,...,Moderate,Moderate,Surgical,Medicare,"Managed Care, Unspecified",NaN,NaN,Y,"194,514.00","22,504.14"
4667,Long Island,Suffolk,5154001,925,Good Samaritan Hospital Medical Center,50 to 69,117,F,White,Not Span/Hispanic,...,Major,Moderate,Surgical,Medicare,Blue Cross/Blue Shield,NaN,NaN,N,"93,154.01","10,519.89"

In [48]:
df_long_island_by_facility = df_long_island['Facility Name'].value_counts().reset_index(name='counts')

In [49]:
df_long_island_by_facility

                                                index  counts
0                     South Shore University Hospital     301
1                 St. Francis Hospital & Heart Center     117
2                     Stony Brook University Hospital      78
3                     North Shore University Hospital      72
4              Good Samaritan Hospital Medical Center      40
5                    NYU Langone Hospital-Long Island      32
6                   Long Island Jewish Medical Center      18
7                                 Huntington Hospital      12
8   John T Mather Memorial Hospital of Port Jeffer...      11
9                                Mount Sinai Hospital       9
10                              NYU Langone Hospitals       7
11                                Lenox Hill Hospital       5
12  New York-Presbyterian Hospital - New York Weil...       4
13                         Peconic Bay Medical Center       2
14                    Cohen Children's Medical Center       2
15                            Mount Sinai Morningside       2
16                                St. Joseph Hospital       1
17                     St Catherine of Siena Hospital       1
18  New York-Presbyterian Hospital - Columbia Pres...       1
19                   Nassau University Medical Center       1
20                           Bellevue Hospital Center       1
21                     New York - Presbyterian/Queens       1